@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --color-1: #222033;
  --color-2: #131121;
  --color-3: #222033;
  --textcolor: #c7c7c7;
  --starcolor: #02F1B5;
}

.light {
  --color-1: #f3f3f3;
  --color-2: #979797;
  --color-3: #8a8a8a;
  --textcolor: #c7c7c7;
  --starcolor: #02F1B5;
}

.dark {
  --color-1: #222033;
  --color-2: #131121;
  --color-3: #222033;
  --textcolor: #c7c7c7;
  --starcolor: #02F1B5;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  display: none;
}

