@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-smooth: auto;
}

*:focus {
    outline: none;
}

:root {
    font-size: 62.5%;
    font-smooth: auto;
    color: #c2c2c2;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html, body {
    height: 100vh;
    width: 100vw;
    font-size: 1.6rem;
    overflow: hidden;
}

::-webkit-scrollbar {
    height: 0px;
    width: 0vh;
    background-color: #373a4041;
    border-radius: 50px;
}

.scroll-visble ::-webkit-scrollbar {
    height: 0px;
    width: 0.4vh;
    background-color: #373a4041;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background-color: #373a40;
    border-radius: 50px;
}