@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

:root {
    font-size: 62.5%;
    color: rgb(180, 180, 180);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html, body {
height: 100vh;
width: 100vw;
font-size: 1.6rem;
overflow: hidden;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    display: none;
}
